@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

body {
    font-family: "Patua One", serif;
    background-color: #1f1e1f;
}

section {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 300px;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}

img {
    width: 300px;
}

#middle {
    text-align: center;
    padding: 10%;
}

#weeks {
    color: #3e5b8a;
}

#longtext{
    color: #8b808b;
    overflow: visible;
}

#bottom {
    background-color: #3e5b8a;
    color: white;
    text-align: center;
    line-height:  4px;
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    width: 300px;
}

#bottomone {
    grid-column: 1/2;
}

#bottomtwo {
    grid-column: 3/4;
}

#bottomthree {
    grid-column: 5/6;
}

.greyline {
    background-color: grey;
}