@import url('https://fonts.googleapis.com/css2?family=Anta&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kode+Mono:wght@400..700&display=swap');


body {
    background-color: #00101a;
    color: #4cca80;
    font-family: "Kode Mono", "Exo 2", sans-serif;
}

header {
    font-family: Anta, sans-serif;
}

#logo {
    max-width: 300px;
    border-radius: 50%;
    padding: 35px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

nav a{
    text-align: center;
    background-color: #00101a;
    color: #4cca80;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
}

nav a :hover {
    background-color: #4cca80;
    color: #00101a;
    border-radius: 10px;
    padding-block: 10px;
}

main h1, h4 {
    font-weight: bolder;
    text-align: center;
}

#box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
    margin: 50px;
    
}

#box img {
    max-height: 100%;
    justify-self: right;
    box-shadow: 0px 0px 10px #4cca80;
    border-radius: 10px;
}

#imagescreen {
    max-width: 100%;
}

#linktoattack {
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}

#linktoattack img {
    max-width: 3%;
    box-shadow: 0px 0px 0px #00101a;
    border-radius: 0px;
}

#linktohelp {
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}

#linktohelp img {
    max-width: 3%;
}

footer{
    background-color: #79a399;
    color: #00101a;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: #00101a;
    text-decoration: none;
    padding: 10px;
}

footer a:hover{
    color: #fefef4;
    padding: 10px;
    border-radius: 10px;
}

footer p{
    color: #00101a;
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

/* Stories CSS specific */
#storiesimage1 {
    max-width: 100%;
    border-radius: 10px;
}

#storiesimage2 {
    max-width: 100%;
    box-shadow: 0px 0px 10px #4cca80;
    border-radius: 10px;
}

/* #storiesgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
} */

*{
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    /* grid-column: 1/3;
    grid-row: 1/3; */
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #4cca80;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #00101a;
    border: 4px solid #4cca80;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #4cca80;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #4cca80;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #4cca80;
    border-width: 10px 10px 10px 0;
    border-color: transparent #4cca80 transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #4cca80;
    color: #00101a;
    position: relative;
    border-radius: 6px;
  }

  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }